.offer {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}
.offer__item {
  @media screen and (max-width: 767px) {
    width: auto;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 4 * 30px) / 4);
    margin: 15px;
  }
}
.offer__wrapper {
  @include FlexCenter();
  padding-top: 41px;
  padding-bottom: 20px;
}
.section__title--offer {
  font-family: Roboto;
  font-size: 30px;
  line-height: 35px;
  text-align: center;
  color: #333333;
  margin-top: 137px;
}
